body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuestionnaireCard {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #e6e9eb;
  padding: 16px;
}

.book-mark-svg {
  height: 24px;
  width: 24px;
}

.Questionnaire-container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.status-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}

.status {
  display: flex;
  gap: 4px;
  align-items: center;

  span {
    color: #3b4f63;
    font-size: 12px;
    line-height: 15.8px;
    font-weight: 400;
    /* need to import
    font-family: 'Source Sans Pro';
  }
}

.time {
  color: #3b4f63;
  font-size: 20px;
  line-height: 25.14px;
  font-weight: 600;
  margin: 0;
}

.date-container {
  display: flex;
  gap: 32px;
}

.start-end-date {
  display: flex;
  gap: 4px;

  .label {
    color: #3b4f63;
    font-size: 14px;
    line-height: 17.6px;
    font-weight: 600;
  }
  .labelValue {
    color: #3b4f63;
    font-size: 14px;
    line-height: 17.6px;
    font-weight: 400;
  }
}

.start-questionnaire-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;

  button {
    padding: 6.5px 27.5px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 15.8px;
    font-weight: 600;
    color: white;
    background: #002f70;
    cursor: pointer;
  }

  p {
    text-align: center;
    font-size: 12px;
    line-height: 15.8px;
    font-weight: 600;
    color: #002f70;
    cursor: pointer;
  }
}

.mobile-btn {
  display: none;
}

.start-questionnaire-mobile-btn {
  display: none;
}

@media (max-width: 767px) {
  .QuestionnaireCard {
    background-color: white;
  }

  .book-mark-svg {
    height: 32px;
    width: 32px;
  }

  .status span {
    color: #3b4f63;
    font-size: 16px;
    line-height: 20.11px;
    font-weight: 400;
  }

  .time {
    line-height: 24px;
  }

  .start-end-date .label {
    color: #3b4f63;
    font-size: 16px;
    line-height: 20.11px;
    font-weight: 600;
  }

  .start-end-date .labelValue {
    color: #3b4f63;
    font-size: 16px;
    line-height: 20.11px;
    font-weight: 400;
  }

  .date-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .start-questionnaire-btn {
    display: none;
  }
  .start-questionnaire-mobile-btn {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    align-items: center;

    button {
      width: fit-content;
      padding: 10px 64.5px;
      font-size: 16px;
      border-radius: 6px;
      line-height: 20.11px;
      font-weight: 600;
      color: white;
      background: #002f70;

    }

    p {
      text-align: center;
      font-size: 16px;
    line-height: 20.11px;
    font-weight: 600;
    color: #002f70;
    }
  }
}




.history-buttons{
  width: 736px;
  display: flex;
  gap: 8px;

  .current-btn {
    border-radius: 6px;
    width: 100%;
    background: #335C85;
    color: white;
    font-size: 12px;
    line-height: 15.8px;
    font-weight: 600;
    padding: 6.5px 0px;
  }

  .previous-btn {
    border-radius: 6px;
    width: 100%;
    border: #335C85 solid 1px;
    color: #002F70;
    font-size: 12px;
    line-height: 15.8px;
    font-weight: 600;
    padding: 6.5px 0px;
    background-color: white;
  }
}

@media (max-width: 767px) {
  .history-buttons .btn {
      border-radius: 6px;
      width: 100%;
      background: #335C85;
      color: white;
      font-size: 16px;
      line-height: 20.11px;
      font-weight: 600;
      padding: 10px 0px;
    }
  } */

/* ============================================================== */
/* assessment modal CSS */

.assessment-mainContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e9193;
}

.assessment-modal-container {
  width: 560px;
  border-radius: 6px;
  border: white 1px solid;
  overflow: hidden;
  background-color: white;
}

.assessment-modal-header {
  background-color: #002f70;
  padding: 7px 16px 5px 16px;
  color: white;
  font-size: 16px;
  line-height: 20.11px;
  font-weight: 400;
}

.assessment-pdf {
  height: 480px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assessment-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  margin-top: 40px;
  margin-bottom: 16px;
}

.blue-variant {
  padding: 6.5px 16px;
  background-color: #002f70;
  border-radius: 6px;
  color: #ffffff;
  font-size: 12px;
  line-height: 15.8px;
  font-weight: 600;
  outline: none;
  border-width: 0px;
}

.transparent-variant {
  padding: 5px 16px 4px;
  background-color: white;
  border: 2px solid #002f70;
  border-radius: 6px;
  font-size: 12px;
  line-height: 15.8px;
  font-weight: 600;
  color: #002f70;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .assessment-mainContainer {
    display: block;
    min-height: 100vh;
    background-color: #ecf2f5;
  }

  .assessment-modal-container {
    width: 100%;
    border: none;
    border-radius: 0px;
    background-color: #ecf2f5;
  }

  .assessment-modal-header {
    padding: 16.5px 8px;
    text-align: center;
    font-size: 18px;
    line-height: 22.63px;
    font-weight: 600;
  }

  .assessment-pdf {
    margin: 16px 8px;
    background-color: white;
    height: 684px;
    border-radius: 6px;
  }

  .assessment-btns {
    margin-top: 0px;
    margin-bottom: 16px;
  }

  .blue-variant {
    padding: 14px 16px;
    font-size: 16px;
    line-height: 20.11px;
    font-weight: 400;
    outline: none;
    border-width: 0px;
  }

  .transparent-variant {
    display: none;
  }
}

/* ================================================== */

/* Add Child Page */

.addChild-mainContainer {
  min-height: 100vh;
  background-color: #ecf2f5;
  display: flex;
  justify-content: center;
}

.addChild-contentContainer {
  width: 1136px;
  background-color: white;
}

.addChild-header {
  padding: 16px;
  color: #002f70;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.addChild-tabs {
  display: flex;

  .active-tab {
    border-top: #6685a3 solid 6px;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;

    p {
      margin: 0;
      font-size: 12px;
      line-height: 15.8px;
      font-weight: 600;
      color: #335c85;
      margin-top: 2px;
    }
  }

  .tab {
    border-top: #e6e9eb solid 6px;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;

    p {
      margin: 0;
      font-size: 12px;
      line-height: 15.8px;
      font-weight: 600;
      color: #9da7b1;
      margin-top: 2px;
    }
  }
}

.addChild-inputs {
  padding: 0px 16px;
  width: 768px;
  border: #002f70 solid 1px;
  margin-top: 16px;

  p {
    margin: 0px;
    font-size: 14px;
    line-height: 17.6px;
    font-weight: 600;
    color: #335c85;
  }

  .child-register {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .radio-btns {
      display: flex;

      /* label {
        display: flex;
        flex: 1;
        align-items: center;
        color: #335C85;
        font-size: 14px;
      line-height: 17.6px;
      font-weight: 400;
      gap: 8px;

        .radio {
          margin: 0px;
        }
      } */
    }
  }
}

/* Child detail Modal css */

.childDetail-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.childDetail-content {
  background-color: white;
  width: 480px;
  border-radius: 6px;
  border: 1px solid white;
  /* margin: auto auto; */
  overflow: hidden;
}

.childDetail-header {
  background-color: #002f70;
  padding: 7px 16px 5px;
  font-size: 16px;
  line-height: 20.11px;
  font-weight: 400;
  color: white;
}

.popup-toast {
  padding: 0px 24px;
  margin: 16px 0px;
}

.toast-content {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  /* background-color: #edfff1; */
  padding: 8px 12px;
  color: #3b4f63;
  border-radius: 6px;
}

.toast-text {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.toast-text h3 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.toast-text p {
  margin: 0;
  font-size: 14px;
  line-height: 17.6px;
  font-weight: 400;
}

.child-detail-card {
  display: flex;
  justify-content: center;

  .card-container {
    width: 184px;
    border-radius: 12px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.child-name {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #002f70;
}

.child-age-container {
  margin-top: 8px;
}
.child-age-label {
  margin: 0;
  font-size: 14px;
  line-height: 17.6px;
  font-weight: 600;
  color: #335c85;
}
.child-age-value {
  margin: 0;
  font-size: 14px;
  line-height: 17.6px;
  font-weight: 400;
  color: #335c85;
}

.child-model-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0px;

  button {
    border: #002f70 1px solid;
    border-radius: 6px;
    padding: 6.5px 16px;
    background-color: white;
    font-size: 12px;
    line-height: 15.8px;
    font-weight: 600;
    color: #002f70;
  }
}

@media (max-width: 767px) {
  .childDetail-modal {
    background-color: #ecf2f5;
    display: block;
  }

  .childDetail-content {
    background-color: #ecf2f5;
    width: 100%;
    border-radius: 0px;
    border: 0px;
    margin: 0;
  }

  .childDetail-header {
    text-align: center;
    padding: 16.5px 8px;
    font-size: 18px;
    line-height: 22.63px;
    font-weight: 600;
  }

  .popup-toast {
    padding: 0px 8px;
    margin: 16px 0px;
    margin-bottom: 24px;
  }

  .childDetail-modal-cancel {
    display: none;
  }

  .toast-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }

  .toast-text p {
    font-size: 16px;
    line-height: 20.11px;
    font-weight: 400;
    color: #3b4f63;
  }

  .child-detail-card .card-container {
    width: 160px;
    border-radius: 6px;
    padding: 20px 16px;
    background-color: white;
  }

  .child-name {
    margin-top: 8px;
    line-height: 25.14px;
  }

  .child-age-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .child-age-label {
    font-weight: 400;
    color: #335c85;
  }

  .child-age-value {
    font-size: 16px;
    line-height: 20.11px;
    font-weight: 600;
  }

  .child-model-close {
    margin: 0;
    margin-top: 24px;

    button {
      padding: 10px 16px;
      font-size: 16px;
      line-height: 20.11px;
    }
  }
}



/* //////////////Check Box  */


.radio-container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.radio-container label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  flex: 1;
  font-size: 14px;
  line-height: 17.6px;
  font-weight: 400;
  color: #335C85;

  span {
    margin-top: 2px;
  }
}

.radio-container input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #002F70;
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;
  margin: 0;
  
}

.radio-container input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #002F70;
  position: absolute;
  top: 2px;
  left: 2px;
}
